.users__list {
  list-style: none;
  text-align: center;
}

.users__item {
  padding: 10px;
  border-bottom: 1px solid #000;
}

.search-box {
  display: flex;
  /* width: 100%; */
}

.search-box__name {
  display: flex;
  align-items: center;
  padding: 0px 3px;
  border: 1px solid #000;
  border-right: 0px;
}

.search-box__field {
  display: flex;
  flex-grow: 1;
}

.search-box__field input {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-width: 1px;
  border-left: 0px;
}
